<% form_url = business.persisted? ? business_url(business) : businesses_url %>
<% form_method = business.persisted? ? "PATCH" : "POST" %>
<% submit_value = business.persisted? ? "Submit Changes" : "Add Business" %>


<form action="<%= form_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= form_method %>">
	<input type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

	<label for="business-country">Country</label>
	<select id="business-country" name="businesses[country]">
    <option selected value="United States">United States</option>
	</select> <br>

	<label for="business-name">Business Name</label>
	<input id="business-name" name="businesses[name]"> <br>

	<label for="business-state">State</label>
	<input id="business-state" name="businesses[state]"> <br>

	<label for="business-city">City</label>
	<input id="business-city" name="businesses[city]"> <br>

	<label for="business-zip">zip</label>
	<input id="business-zip" name="businesses[zip]"> <br>

	<label for="business-phone-number">Phone Number</label>
	<input id="business-phone-number" name="businesses[phone_number]"> <br>

	<label for="business-webiste-address">Website Address</label>
	<input id="business-website-address" name="businesses[website_address]"> <br>

	<input type="submit" value="<%= submit_value %>">
</form>
