
<nav id="backbone_yelp_nav_bar"></nav>

<div id="backbone_main_content"> </div>

<script>
 $(document).ready(function(){
  var $rootEl = $("#backbone_main_content");
  var $navEl = $(".yelp-header");
  var currentCityId = <%= current_city ? current_city.id : City.find_by_city_name("Brooklyn").id %>;
  YelpClone.initialize(<%= logged_in? %>, <%= current_user.try(:id) || "undefined" %>, currentCityId, "<%= image_url("user_medium_square.png") %>", $rootEl, $navEl);
 });
 </script>
