<h1>Sign in</h1>

<form action="<%= session_url %>" method="POST">
	<input type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

	<label for="session-name">User Name</label>
	<input id="session-name" name="session[username]">

	<label for="session-password">Password</label>
	<input type="password" for="session-password" name="session[password]">

	<input type="submit" value="Sign in">

</form>