
// business show page


div.business-business-header{
  padding-top: 20px;


  div.business-business-header-info {
    float: left;
    h1 {
      font-size: 30px;
      color: #333;
      text-shadow: 0 1px rgba(255,255,255,0.7);
      font-weight: bold;

    }

  }
  a.write-review-wrapper {
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    float: right;
    margin-right: 300px;
    background-image: linear-gradient(#ff2000 2%, #ea050b 10%, #d40d04);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    text-shadow: 0 -1px 0 #760400;
    border: 1px solid #a50508;

    i.write-review-icon {
      display: block;
      float: left;
      width: 30px;
      height: 0;
      padding-top: 25px;
      background: image-url('yelp_sprite_sheet.png') no-repeat 0 -3580px;
      overflow: hidden;

    }

    span.write-review-text {
      text-shadow: 0 -1px 0 #760400;
      padding-top: 5px;
      display: block;
      float: left;
      color: white;
      font-weight: bold;
      font-size: 14px;
    }
  }

}

div.business-business-info {
  padding: 10px 0;
}


ul#business-reviews {
  display: block;
  padding: 10px 0 0 10px;
  border: 1px solid #e5e5e1;
}

// Business star ratings

.business-rating-0 {
  width: 130px;
  height: 0;
  padding-top: 25px;
  background: red;
  overflow: hidden;
  background: image-url('stars_map.png') no-repeat 0 -513px;
}

.business-rating-1 {
  height: 0;
  width: 130px;
  padding-top: 25px;
  background: red;
  overflow: hidden;
  background: image-url('stars_map.png') no-repeat 0px -537px;
}

.business-rating-2 {
  height: 0;
  width: 130px;
  padding-top: 25px;
  background: red;
  overflow: hidden;
  background: image-url('stars_map.png') no-repeat 0px -587px;
}


.business-rating-3 {
  height: 0;
  width: 130px;
  padding-top: 25px;
  background: red;
  overflow: hidden;
  background: image-url('stars_map.png') no-repeat 0px -638px;
}

.business-rating-4 {
  height: 0;
  width: 130px;
  padding-top: 25px;
  background: red;
  overflow: hidden;
  background: image-url('stars_map.png') no-repeat 0px -687px;
}

.business-rating-5 {
  height: 0;
  width: 130px;
  padding-top: 25px;
  background: red;
  overflow: hidden;
  background: image-url('stars_map.png') no-repeat 0px -737px;
}




// business form
h1.business-form-header {
  font-size: 24px;
  font-weight: bold;
  color: #c41200;
  padding-bottom: 15px;
}

form{
  div.business-form-input {
    padding: 5px 0;

    label {
      padding-bottom: 3px;
      display: block;
      font-weight: bold;
    }

    select {
      display: block;
      width: 312px;
      padding: 4px 2px;
      height: 30px;
      border: 1px solid #bbb;
      border-radius: 2px;
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);

    }

    input{
      display: block;
      width: 300px;
      padding: 5px;
      background: rgba(250,250,249,0.9);
      border: 1px solid #bbb;
      border-radius: 2px;
      font-size: 12px;
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
    }

  }

  input[type='submit'] {
    border: 1px solid #a50508;
    background: #ea050b;
    background-image: linear-gradient(#ff2000 2%, #ea050b 10%, #d40d04);
    color: #fff;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
  }

}
