


li.reviews-review {
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e1;

  div.reviews-review-header-rating{
    float: left;
  }

  span.reviews-review-header-reviewdate {
    font-size: 14px;
    display: block;
    float: left;
    color: #555;
  }

  p.reviews-review-content {
    text-align: left;
    padding-right: 10px;
  }
}



// review form

div.review-business-info {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;

  a.review-business-info-name{
    color: #3b65a7;
    text-decoration: none;
    font-weight: bold;
    display: block;
    height: 20px;
  }

  address.review-form-business-address {
    float: right;
    span{
      display: block;
    }
  }

  div.review-business-info-left {
    float: left;
  }

}


div.review-form-rating-wrapper {
  padding-top: 10px;
  position: relative;


  label.stars-rating-label {
    float: left;
    width: 150px;
    padding-right: 10px;
  }


  .stars {
    float: left;
    width: 370px;
    border: 1px solid #c41200;
    background-color: #fdffcd;
    padding: 10px 0;
    overflow: hidden;
  }


  .stars input {
    position: absolute;
    left: -9999px;
    overflow: hidden;
  }

  .stars label {
    float: left;
    display: block;
    height: 0;
    padding-top: 25px;
    background: image-url('stars_map.png') no-repeat 14px -513px;
    overflow: hidden;

  }


  .stars label.star-rating-0 {
    background: image-url('stars_map.png') no-repeat 14px -513px;
  }

  .stars label.star-rating-1 {
    background: image-url('stars_map.png') no-repeat 14px -538px;
  }

  .stars label.star-rating-2 {
    background: image-url('stars_map.png') no-repeat 14px -588px;
  }

  .stars label.star-rating-3 {
    background: image-url('stars_map.png') no-repeat 14px -638px;
  }

  .stars label.star-rating-4 {
    background: image-url('stars_map.png') no-repeat 14px -688px;
  }

  .stars label.star-rating-5 {
    background: image-url('stars_map.png') no-repeat 14px -738px;
  }


  //
  // .stars input:checked ~ label {
  //   background: grey;
  //   width: 30px;
  //   background: image-url('stars_map.png') no-repeat 2px -513px;
  //
  // }
  //
  //
  // .stars input:checked + label {
  //   background: yellow;
  //   background: image-url('stars_map.png') no-repeat 4px -637px;
  // }
  //
  //
  //
  // .stars:hover input ~ label {
  //   background: yellow;
  //   background: image-url('stars_map.png') no-repeat 12px -637px;
  //
  // }
  //
  .stars label > span.rating-text {
    display: none;
    font-size: 12px;
    font-style: italic;
    position: absolute;
    left: 370px;
    top: 27px;

  }

  .stars input:checked + label > span.rating-text {
    display: inline;

  }

  //
  // .stars.stars label:hover ~ label {
  //
  //   background: grey;
  //   width: 30px;
  //   background: image-url('stars_map.png') no-repeat 2px -513px;
  // }

}

div.review-content-input {
  padding-top: 10px;
  label.review-content-label {
    float: left;
    width: 150px;
    padding-right: 10px;

  }

  textarea.review-content-textarea{
    float: left;
    width: 469px;
    height: 115px;

  }

}


button.review-form-submit {
  margin-left: 580px;
  background-image: linear-gradient(#ff2000 2%, #ea050b 10%, #d40d04);
  border-radius: 4px;
  padding: 7px 16px;
  border: 1px solid #a50508;
  padding: 10px;
  display: block;
  margin-top: 20px;
  color: white;
  font-weight: inherit;
}
