<h1> This is backbone!!!</h1>
<h1><%= user.escape('username') %></h1>

<a href="#currentUser/edit">Edit User Info</a>

<ul id="user-reviews"></ul>
<a href="#search">Write a Review</a>

<a href="#business/new">Add a Business</a>
