
  <li class="review">
    <br>
<% if (YelpClone.loggedIn && YelpClone.currentUser.reviews().get(review.id)) { %>
      <a href="#">Edit</a>
    <% } %>
    <a href="#">
      <%= review.escape("businessname") %>
    </a>
    <br>
    Rating:<%= review.escape("rating") %>
    <br>
    <%= review.escape("content") %>
    <br>
  </li>
