/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// reset

h1, h2, header, nav, main, ul, li, div {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-style: inherit;
  background: transparent;
  color: inherit;
}

//clearfix
.group:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  list-style: none;
}

.yelp-header {
  background: #af0606 url(//s3-media1.ak.yelpcdn.com/assets/2/www/img/7ccfbbb81622/structural/header_stars.png) no-repeat center;
  height: 77px;
}

.header-nav {
  border: 2px solid blue;
  width: 1022px;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
}

.logo {
  float: left;
}

.sign-up-sign-in {
  margin-right: 20px;
  margin-top: 20px;
  border: 2px solid blue;
  float: right;
}

.signup {
  display: block;
}

.signin{
  display: block;
}

.nav-links {
}

.main-content {
  border: 2px solid blue;
  width: 1022px;
  margin: 0 auto;
}





