/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// reset

h1, h2, header, nav, main, ul, li,ol, div, form, img, button, html, body,
input, select {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-style: inherit;
  background: transparent;
  color: inherit;
  font: inherit;
}

//clearfix
.group:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

a {
 text-decoration: none;
}

body {
  font-family: sans-serif;
}


  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    -webkit-appearance: none;
    display: inline-block;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    width: auto;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    color: inherit;
  }
  input[type="submit"] {
    cursor: pointer;
  }

//errors
div.errors {
  padding: 5px 10px;
  background: #a70e00;
  border: 1px solid #590700;
  border-radius: 5px;
  h1.error-message {
    color: #fff;
  }
}

// main content
  .main-content {
    width: 1022px;
    margin: 0 auto;
    padding: 15px 30px 30px;
    border: 1px solid #ccccc8;
    background: #fff;

  }




// star ratings

.rating-0 {
  width: 90px;
  height: 0;
  padding-top: 20px;
  background: red;
  overflow: hidden;
  background: image-url('stars_map.png') no-repeat 0 0;
}

.rating-1 {
  height: 0;
  width: 90px;
  padding-top: 20px;
  background: red;
  overflow: hidden;
  background: image-url('stars_map.png') no-repeat 0px -18px;
}

.rating-2 {
  height: 0;
  width: 90px;
  padding-top: 20px;
  background: red;
  overflow: hidden;
  background: image-url('stars_map.png') no-repeat 0px -55px;
}


.rating-3 {
  height: 0;
  width: 90px;
  padding-top: 20px;
  background: red;
  overflow: hidden;
  background: image-url('stars_map.png') no-repeat 0px -90px;
}

.rating-4 {
  height: 0;
  width: 90px;
  padding-top: 20px;
  background: red;
  overflow: hidden;
  background: image-url('stars_map.png') no-repeat 0px -125px;
}

.rating-5 {
  height: 0;
  width: 90px;
  padding-top: 20px;
  background: red;
  overflow: hidden;
  background: image-url('stars_map.png') no-repeat 0px -163px;
}
