<h1>Sign in</h1>

<form>

	<label for="session-name">User Name</label>
	<input id="session-name" name="session[username]">

	<label for="session-password">Password</label>
	<input type="password" for="session-password" name="session[password]">

	<input type="submit" value="Sign in">

</form>